name: Go CI

on:
  push:
    branches: main
    paths-ignore:
      - "docs/**"
  pull_request:
    branches: main
    paths-ignore:
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Test
        run: make test

      - name: Build
        run: make build
